<!DOCTYPE html>
<html>
<head>
  <title>NewInventoryBb</title>
  <script id='userViewTemplate' type='text/template'>
    <li><h1>{{ firstname }} {{ lastname }}</h1></li>
      <li>Username: {{ username }}</li>
      <li>Email: {{ email }}</li>
      <hr>
  </script>
  <script id='deviceViewTemplate' type='text/template'>
    <li>Name: {{name}}</li>
    <li>Serial Number: {{serial_number}}</li>
    <hr>
  </script>
  <script type="text/template" id="userFormTemplate">
    <input type="text" id="firstName" placeholder="First Name..."><br>
    <input type="text" id="lastName" placeholder="Last Name..."><br>
    <input type="text" id="userName" placeholder="Please enter username..."><br>
    <input type="text" id="eMail" placeholder="Email..."..."><br>
    <button id="submitUser">Submit</button>
    <button id="cancelButton">Cancel</button>
  </script>
  <script type='text/template' id='deviceFormTemplate'>
    <input type="text" id="deviceName" placeholder="Device Name..."><br>
    <input type="text" id="deviceSN" placeholder="Serial Number..."><br>
    <button id="submitDevice">Submit</button>
    <button id="cancelButton">Cancel</button>
  </script>
  <script id='navigationTemplate' type='text/template'>
    <button id='usersButton'>Users</button>
    <button id='devicesButton'>Devices</button>
  </script>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
